<!DOCTYPE html>
<html lang="en">
<head>
	<title>MASTER TEMPLATE-SILU</title>
	<style type="text/css">
		.skin-blue{
			background-color: #ecf0f5;
		}
		.wrapper{
			min-height: 100px;
			position: static;
		}
		.main-header{
			background-color: #ecf0f5;
		}
		.nav-bar{
			position: relative;
			border :medium none;
			margin-left: 0px;
			min-height: 50px;
			background-color: #dd4b39;
			max-height: 100%;
			z-index: 1030;
		}
	</style>
</head>
<body class="skin-blue">
	<div class="wrapper">
		<header class="main-header">
			<nav class="nav-bar"></nav>
		</header>
	</div>
</body>
</html>