<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	<title>MASTER-CLINIC</title>
	<style type="text/css">
		#header{
			background-color: orange;
			padding: 30px;
		}
		.main-header{
			background-color: #dd4b39;
			padding: 30px;
			padding-left: 230px;
		}
		.left-nav{
			padding: 80px;
			background-color: yellow;
			padding-right: 990px;
		}
		.main-footer{
			background-color: cyan;
		}
	</style>
</head>
<body style="background-color: #ecf0f5">
	<div>
		<div class="main-header">
			<header>p</header>
		</div>
		<div class="">
			<aside class="left-nav">left nav</aside>
		</div>
		<div>
			<footer class="main-footer">
        		<strong>Copyright &copy; 2017-2018 <a href="#">SHIELD Studio</a>.</strong> All rights reserved.&nbps<b>Version</b> 1.0
        	</footer>
		</div>
	</div>

</body>
</html>